* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter";
  background-color: #707070;
  
}
a{
  color: inherit;
}
a:hover{
  opacity: 0.5;
}
.cont {
  max-width: 1394px;
  margin: 0 auto;
  padding: 0 5px;
}
.all-button {
  color: #ffffff;
  padding: 14px 33px;
  border-radius: 3px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background-color: #23a6a6;
}
.all-button:hover {
  opacity: 0.5;
}
.hidden {
  display: none;
}
.wrapper {
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  
}
//==================================== header
.header {
  // .header__container

  &__container {
    background-color: #294570;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 25px 0;
  }

  // .header__nav

  &__nav {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  // .header__logo

  &__logo {
    padding-left: 120px;
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    gap: 92px;
  }

  // .header__item
  &__item a {
    color: inherit;
  }
  &__item {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  &__item:hover {
    color: #1daab3;
  }

  // .header__lang

  &__lang {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 113px;
  }

  // .header__button

  &__button {
    background-color: #294570;
    padding: 14px 26px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-radius: 3px;
    border: 1.5px solid #fff;
  }
  &__button:hover {
    color: #1daab3;
    background-color: #fff;
  }
}
select {
  background-color: #294570;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
// =====================================market

.market {
  background-color: #fff;
  padding-top: 63px;
  padding-bottom: 56px;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .market__content

  &__content {
  }

  // .market__text

  &__text {
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  // .market__image

  &__image {
    padding-right: 117px;
  }
}

h2 {
    
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px;
}

// =====================================benefits
.benefits {
  padding: 150px 0;
  background-color: #f4f4f4;
  // .benefits__block

  &__block {
  }

  // .benefits__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 275px 275px;
    grid-template-areas:
      "f c s"
      "t c m";
    background-color: #fff;
    
  }

  // .benefits__fast

  &__fast {
    padding-top: 54px;
    padding-left: 32px;
    grid-area: f;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .benefits__count

  &__count {
    padding-top: 54px;
    padding-left: 32px;
    grid-area: c;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
  }

  // .benefits__security

  &__security {
    padding-top: 54px;
    padding-left: 32px;
    grid-area: s;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .benefits__tools

  &__tools {
    padding-top: 54px;
    padding-left: 32px;
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .benefits__multilang

  &__multilang {
    padding-top: 54px;
    padding-left: 32px;
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 54px;
}
.benefits {
  // .benefits__title

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  // .benefits__text

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
  }

  // .benefits__img

  &__img {
    display: flex;
    position: relative;
    padding-bottom: 34px;
    
  }

}

.count {
  // .count__img

  &__img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 200%;
    left: 50%;
    z-index: 2;
    
  }
  &__background {
    position: absolute;
    top: 0;
    right: 10%;
  }
  &__svg{
    padding-top: 41px;
  }
}
// ====================================platform
.platform-market {
  background-color: #fff;
  padding: 150px 0;
}
// ==================================question

.plus{
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #A0A0A0;
    transform: rotate(90deg);
}
.plus::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #A0A0A0;
    transform: rotate(-90deg);
}
.questions {
  background-color: #f4f4f4;
  padding: 150px 0;
  // .questions__block

  &__block {
  }

  // .questions__list

  &__list {
    padding-bottom: 32px;
  }

  // .questions__item

  &__item {
    background-color: #fff;
    padding: 19px 30px;
    border-bottom: 1px solid #d8d8d8;
  }

  // .questions__titleBlock

  &__titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .questions__title

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
  }

  // .questions__plus

  &__plus {
    width: 30px;
    height: 30px;
    // background-color: #A0A0A0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .questions__text

  &__text {
    transition: all 1s;
    overflow: hidden;
    height: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  &__text span {
    font-weight: 700;
  }
}
.hide-text{
  height: 100px;
  transition: all 1s;
}
// ===================================footer
.footer {
  background-color: #294570;
  color: #fff;

  // .footer__block

  &__block {
  }

  // .footer__grid

  &__grid {
    padding-top: 97px;
    padding-bottom: 97px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 61px;
    border-bottom: 1px solid #d0d0d0;
  }

  // .footer__item

  &__item {
  }

  // .footer__img

  &__img {
  }

  // .footer__text

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  // .footer__ico

  &__ico {
  }

  // .footer__nav-title

  &__nav-title {
    padding-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  // .footer__nav-item

  &__nav-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  // .footer__policy

  &__policy {
    padding-bottom: 92px;
  }
  &__text-policy {
    padding-top: 46px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  &__text-policy:last-child{
    padding-top: 15px;
  }
}
.footer__item:nth-child(1) {
  margin-top: -20px;
}
.footer__item:nth-child(3) {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-left: -90px;
}
.footer__item:nth-child(5) {
  .all-button {
    width: 100%;
  }
}
